<h2 class="new_company_title">Crea tu contraseña</h2>
<section class="new_company">
  <div class="new_company_form">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form_basic">
        <%= f.input :password,
                    label: "Contraseña",
                    required: true,
                    autofocus: true,
                    hint: ("Minimo #{@minimum_password_length} caracteres" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: "Confirma tu contraseña",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>

        <%= f.button :submit, "Crear", class:'action_button' %>
      </div>
    <% end %>
    </div>
  <div class="new_company_img"></div>
</section>