<section class="new_company">
  <div class="new_company_form">
    <%= simple_form_for(@company) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      
      <div class="form_basic">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :contact %>
        <%= f.button :submit, class:'action_button'%>
      </div>
    <% end %>   
  </div>
  <div class="new_company_img"></div>
</section>

